# Capstone II
Luis Lozada

1. Identifies which of the three proposals you outlined in your lightning talk you have chosen <br>
      <br>
    <b>Heart Disease Prediction
***
2. Articulates the main goal of your project (your problem statement) <br>
    <br>
    Heart Disease is the leading cause of death in the United States, ahead of cancer, respiratory infection, and accidents. For this reason, I think it vital to inform individuals of their risk. My goal is to great a regression model which predicts a patient's risk for heart disease given their demographic information, medical examination (blood pressure, labs, illnesses), and lifestyle (smoking, diet). 
***
3. Outlines your proposed methods and models <br>
    <br>
    All data will come from publicly available governmental sources and include demographic, locational, and self survey.
        1. Inspect datasets (and data dictionaries) for inclusion in the project
        2. If pass, preliminary cleaning, eda, sanity checks
        3. Arrive at clean dataset
        4. Build a Linear Regression Model to get a baseline
        5. Go from there... (I'm not sure what I will find so it is difficult for me to predict)
***
4. Defines the risks & assumptions of your data<br>
    <br>
    The benefit of using publicly available data is that much of it is already in CSV format. However, this implies heavy preprocessing on the hands of the primary researchers which I am not privy to. There is also the problem of selection bias when it comes to the survey data. The vast majority of data is of people which suffer from heart disease as oppossed ot healthy individuals. 
***
5. Revises initial goals & success criteria, as needed<br>
    <br>
    kk
***
6. Document your data source<br>
    <br>
    1. https://www.kaggle.com/cdc/national-health-and-nutrition-examination-survey
    2. https://chronicdata.cdc.gov/Heart-Disease-Stroke-Prevention/Behavioral-Risk-Factor-Data-Heart-Disease-Stroke-P/4ny5-qn3w
    3. https://www.kaggle.com/cdc/mortality
***
7. Performs & summarizes preliminary EDA of your data

# National Health and Nutrition Examination Survey
## NHANES datasets from 2013-2014

In [1]:
import pandas as pd

In [2]:
demographics = pd.read_csv('./national-health-and-nutrition-examination-survey/demographic.csv')

In [3]:
diet = pd.read_csv('./national-health-and-nutrition-examination-survey/diet.csv')

In [4]:
exam = pd.read_csv('./national-health-and-nutrition-examination-survey/examination.csv')

In [5]:
labs = pd.read_csv('./national-health-and-nutrition-examination-survey/labs.csv')

In [6]:
meds = pd.read_csv('./national-health-and-nutrition-examination-survey/medications.csv', encoding='unicode_escape')

In [7]:
questionnaire = pd.read_csv('./national-health-and-nutrition-examination-survey/questionnaire.csv')

In [8]:
data = [demographics, diet, exam, labs, meds, questionnaire]

In [9]:
for each in data:
    print(each.shape)

(10175, 47)
(9813, 168)
(9813, 224)
(9813, 424)
(20194, 13)
(10175, 953)

In [10]:
demographics.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.52
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00

# Behavioral Risk Factor Data: Heart Disease & Stroke Prevention
CDC

In [11]:
df = pd.read_csv('./dataset.csv')

In [12]:
df.head()

,Year,LocationAbbr,LocationDesc,Datasource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_out,CategoryID,TopicID,IndicatorID,Data_Value_TypeID,BreakoutCategoryID,BreakOutID,LocationID,GeoLocation
0,2011,AL,Alabama,BRFSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Overall,Overall,C1,T1,BR001,AgeStdz,BOC01,OVR01,1,"(32.84057112200048, -86.63186076199969)"
1,2011,AL,Alabama,BRFSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Overall,Overall,C1,T1,BR001,Crude,BOC01,OVR01,1,"(32.84057112200048, -86.63186076199969)"
2,2011,AL,Alabama,BRFSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Male,C1,T1,BR001,Crude,BOC02,GEN01,1,"(32.84057112200048, -86.63186076199969)"
3,2011,AL,Alabama,BRFSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Male,C1,T1,BR001,AgeStdz,BOC02,GEN01,1,"(32.84057112200048, -86.63186076199969)"
4,2011,AL,Alabama,BRFSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Gender,Female,C1,T1,BR001,AgeStdz,BOC02,GEN02,1,"(32.84057112200048, -86.63186076199969)"

In [13]:
list(df.columns)

['Year',
 'LocationAbbr',
 'LocationDesc',
 'Datasource',
 'PriorityArea1',
 'PriorityArea2',
 'PriorityArea3',
 'PriorityArea4',
 'Category',
 'Topic',
 'Indicator',
 'Data_Value_Type',
 'Data_Value_Unit',
 'Data_Value',
 'Data_Value_Alt',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'Confidence_Limit_Low',
 'Confidence_Limit_High',
 'Break_Out_Category',
 'Break_out',
 'CategoryID',
 'TopicID',
 'IndicatorID',
 'Data_Value_TypeID',
 'BreakoutCategoryID',
 'BreakOutID',
 'LocationID',
 'GeoLocation']

In [14]:
df['Data_Value_Type'].value_counts()

Crude               54600
Age-Standardized    31200
Name: Data_Value_Type, dtype: int64

In [15]:
df['Data_Value_Unit'].value_counts()

Percent (%)    85800
Name: Data_Value_Unit, dtype: int64

# Mortality
CDC

In [16]:
# mort15 = pd.read_csv('./mortality/2015_data.csv')

# mort14 = pd.read_csv('./mortality/2014_data.csv')

# mort13 = pd.read_csv('./mortality/2013_data.csv')

# mort12 = pd.read_csv('./mortality/2012_data.csv')

# mort11 = pd.read_csv('./mortality/2011_data.csv')